[package]
name         = "rollkit-ibc"
version      = "0.1.0"
authors      = ["Interchain GmbH <ibc@interchain.io>"]
edition      = "2021"
rust-version = "1.66"
license      = "MIT OR Apache-2.0"
readme       = "./README.md"
repository   = "https://github.com/cosmos/rollkit-ibc"
keywords     = ["rollup", "rollkit", "ibc", "light-client", "CosmWasm"]
description  = """
    Contains the CosmWasm contract implementation of the `rollkit` light client.
"""

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
crate-type = ["cdylib", "rlib"]

[profile.release]
opt-level = 3
debug = false
rpath = false
lto = true
debug-assertions = false
codegen-units = 1
panic = 'abort'
incremental = false
overflow-checks = true

[features]
# for more explicit tests, cargo test --features=backtraces
backtraces = ["cosmwasm-std/backtraces"]
# use library feature to disable all instantiate/execute/query exports
library = []

[package.metadata.scripts]
optimize = """docker run --rm -v "$(pwd)":/code \
  --mount type=volume,source="$(basename "$(pwd)")_cache",target=/target \
  --mount type=volume,source=registry_cache,target=/usr/local/cargo/registry \
  cosmwasm/optimizer:0.15.0
"""

[dependencies]
base64 = "0.22.0"
cosmwasm-schema = "1.5.0"
cosmwasm-std = { version = "1.5.0", features = [
    "cosmwasm_1_3",
    # Enable this if you only deploy to chains that have CosmWasm 1.4 or higher
    # "cosmwasm_1_4",
] }
cw-storage-plus = "1.1.0"
cw2 = "1.1.1"
derive_more = "0.99.17"
ibc-core = { version = "0.51.0", default-features = false, features = ["schema"] }
ibc-clients = { version = "0.51.0", default-features = false, features = ["schema"] }
ibc-proto = { version = "0.42.2", default-features = false }
prost = "0.12.3"
schemars = "0.8.15"
serde = { version = "1.0", features = ["derive", "rc"] }
tendermint = "0.34.1"
tendermint-light-client-verifier = "0.34.1"
thiserror = { version = "1.0.49" }

[patch.crates-io]
ibc-proto = { git = "https://github.com/cosmos/ibc-proto-rs.git", rev = "6cbe4c7ace5a688bc98831fa9c1cc2dabf3b2976", default-features = false } # "0.42.2"

[dev-dependencies]
cw-multi-test = "0.17.0"
